/*body {
   font: 24px Menlo, Helvetica;
   background: #999999;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }

  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cc8a33;
   border-radius: 7pt;
   background: #ffba3a;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > #nav1 {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #e3a5ff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > #nav2 {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   display: block;
   text-align: center;
   margin: 4px;
   padding: 5px;
   min-height: 150px;
   border: 1px solid #5c5c5c;
   border-radius: 7pt;
   background: #d0ff4f;
   }
 
  header:first-letter, footer:first-letter{
    font-size: 160%;
  }
  /* Too narrow to support three columns 
  @media all and (max-width: 640px) {
  
  header, footer {
  background: #ffeebb;
  min-height: 60px;
  }

   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > #nav1, #main > #nav2 {
    /* Return them to document order 
    -webkit-order: 0;
            order: 0;
   }
  
   #main > #nav1, #main > #nav2, header, footer {
    min-height: 150px;
   }
  }
   */


   /* header, footer {
   display: block;
   text-align: center;
   margin: 4px;
   padding: 5px;
   min-height: 150px;
   border: 1px solid #5c5c5c;
   border-radius: 7pt;
   background: #d0ff4f; */
   

body{
font-family: Arial, sans-serif;
}

.nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
background: #00CFF0;
box-shadow: 0 2px 8px rgba(0,0,0,0.2);
z-index: 1000;
}

.nav > h1{
margin-left: 50px;
}

.navlist{
display: flex;
justify-content: center;
}

.navlist > li{
list-style-type: none;
margin: 0px 40px 10px 40px
}

a{
color: #000000;
text-decoration: none;
font-size: 16px;
}

.nav:first-child{
align-items: center;
}

.sections, h2{
margin-top: 200px;
}

.element{
background-color: #A1C2D7;
border-radius: 20px;
box-shadow: 0 6px 14px rgba(0,0,0,0.15);
margin: 10px 0px;
}

.element table{
border-spacing: 75px 10px;
margin-left: 80px;
}

.element table thead{
font-weight: bold;
}